<% include header %>
<% include achtergrond %>
<% include navigatie %>

<h1 class="halte-titel">Halte</h1>
<section class="halte">

    <form>
      <input type="text" name="zoeken" placeholder="Naam halte">
    </form>

    <a href="/halteLijst"><div class="halte-vinden">Zoeken</div></a>

</section>

<% include footer %>
