<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>De lijn app</title>
  <link rel="stylesheet" href="public/css/halte.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<img class="opstartscherm-logo" src="logo.svg">

<h1 class="halte-titel">Halte</h1>
<form>
  <input type="text" name="zoeken" placeholder="Naam halte">
</form>
<a href="#"><div class="halte-vinden">Zoeken</div></a>
</body>


<script src="js/index.js"></script>
</html>
