<% include header %>
<% include achtergrond %>
<% include navigatie %>

<h1 class="halte-titel">Halte</h1>
<section class="halte">

  <div class="halte-kader">
  <input type="text"><p class="halte-tekst">8:00</p></input>
  <input type="text"><p class="halte-tekst">Linkeroever</p></input>
  <input type="text"><p class="halte-tekst">5</p></input>
  <br>
  <input type="text"><p class="halte-tekst">8:05</p></input>
  <input type="text"><p class="halte-tekst">Zwijndrecht</p></input>
  <input type="text"><p class="halte-tekst">3</p></input>
</div>

</section>

<% include footer %>
