<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>De lijn app</title>
  <link rel="stylesheet" href="public/css/halte.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


<form>
  <h1 class="halte-titel"><input type="tel" name="zoeken">Halte</h1>
  <div class="halte-kader">
    <input type="text"><p class="halte-tekst">8:00</p></input>
    <input type="text"><p class="halte-tekst">Linkeroever</p></input>
    <input type="text"><p class="halte-tekst">5</p></input>
    <br>
    <input type="text"><p class="halte-tekst">8:05</p></input>
    <input type="text"><p class="halte-tekst">Zwijndrecht</p></input>
    <input type="text"><p class="halte-tekst">3</p></input>
  </div>
</form>
</body>


<script src="js/index.js"></script>
</html>
