<% include header %>
<% include achtergrond %>

<section class="opstartscherm">

  <img class="opstartscherm-logo" src="/img/logo.svg">

  <a href="/aanmelden"><div class="opstartscherm-aanmelden">Aanmelden</div></a>
  <a href="/registreren"><div class="opstartscherm-registreren">Registreren</div></a>
  <a href="/home"><div class="opstartscherm-overslaan">Overslaan ></div></a>

</section>

<% include footer %>
