<% include header %>

<section class="opstartscherm">

  <img class="opstartscherm-logo" src="logo.svg">

  <a href="#"><div class="opstartscherm-aanmelden">Aanmelden</div></a>
  <a href="#"><div class="opstartscherm-registreren">Registreren</div></a>
  <a href="#"><div class="opstartscherm-overslaan">Overslaan ></div></a>

</section>

<% include footer %>
