<% include header %>
<% include achtergrond %>
<% include navigatie %>


<h1>Koop ticket</h1>
<section class="ticket">

  <div class="ticket-achtergrond">
  <p class="ticket-tekst1">Geldig voor 60 minuten</p>

  <div class="min">-</div>
  <div class="één">1</div>
  <div class="plus">+</div>

  <p class="ticket-tekst2">Totale kosten</p>
  <p class="ticket-tekst3">€ 3,00</p>
  <div class="ticket-button">Betaal 60 minuten M-ticket</div>
  </div>
</section>

<% include footer %>
