body{
  border: 1px solid white;
  position: relative;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  background-image: url("/img/background.jpg");
  background-position: center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
}

.logo{
  width: 75px;
  position: absolute;
  top: 20px;
  left:40px;
}

h1{
  color: white;
  position: absolute;
  font-size: 2em;
  display: block;
  width: 100%;
  text-align: center;
  top:125px;
}

.achtergrond{
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.lijn{
  position: fixed;
  bottom:0px;
  width: 100%;
  height:10px;
  background-color: rgb(252,220,4);
}

.routeP{
  position: absolute;
  top: 200px;
  width: 275px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.routeLabel{
  position: absolute
  color: black;
  margin-right: 5px;
  font-size: 1.1em;
}

.routeP .van, .naar{
  background: white;
  padding: 14px 30px;
  font-size: 1.1em;
  margin-bottom: 15px;
  border-radius: 3px;
}

.routeP .bestemming{
  margin-left: -10px;
}

.routeP .datum{
  font-size: 1.1em;
  color: white;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 40px;
  padding: 15px 0px;
}

.routeP .wanneer{
  position: relative;
}

.routeP input[type="date"]{
  display: inline-block;
  position: absolute;
  right: 0;
  color: rgba(255, 255, 255, 0.4);
  border: none;
  font-size: 0.8em;
  border-bottom: 3px solid white;
  background: rgba(255,255,255,0.1);
  border-radius: 4px;
  padding: 14px 0px;
  padding-left: 10px;
  width: 100px;
}

.routeP input[type="time"]{
  display: inline-block;
  position: absolute;
  top:60px;
  right: 0;
  color: rgba(255, 255, 255, 0.4);
  border: none;
  font-size: 0.8em;
  border-bottom: 3px solid white;
  background: rgba(255,255,255,0.1);
  border-radius: 4px;
  padding: 14px 0px;
  padding-left: 10px;
  width: 100px;
}


.routeP input[type="text"]{
  position: absolute;
  right: 30px;
  vertical-align: center;
  border: none;
  font-size: 1em;
  padding: 4px;
  background: none;
  color: grey;
  width: 175px;
  margin-top: -4px;
}


.routePlannen{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 450px;
  color: white;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 1.2em;
  background: rgba(240,239,53,0.2);
  border: none;
  border-bottom: 3px solid rgb(240,239,53);
  width: 275px;
}

.routeTijden{
  color: white;
  margin-bottom: 20px;
  font-size: 1.2em;
  border: none;
  width: 180px;
}

.routeT{
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  text-align: center;
}

.routeT .vroegere, .latere{
  border-bottom: 3px solid rgb(240,239,53);
  background: rgba(240,239,53,0.2);
  padding: 12px 30px;
}

.tijd{
  color: rgba(255, 255, 255, 0.4);
  width: auto;
  border-bottom: 3px solid white;
  background: rgba(255,255,255,0.1);
  display: block;
  border-radius: 4px;
  padding: 14px 30px;
}

.routeD .tijdD{
  color: rgba(255, 255, 255, 0.4);
  width: auto;
  border-bottom: 3px solid white;
  background: rgba(255,255,255,0.1);
  display: block;
  border-radius: 4px;
  padding: 14px 30px;
  width: 120px;
  display: inline-block;
}

.routeD{
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
  text-align: center;
}

.routeD .tijden{
  font-size: 1.2em;
  color: white;
  display: inline;
  margin-right: 30px;
}

.routeD .nr{
  margin-right: 10px;
  margin-left: 65px;
  width: 25px;
}

.routeD .lijnnr{
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.2em;
  margin-bottom: 20px;
  display: inline-block;
}

a{
  text-decoration: none;
}
